
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Questrial&family=Sora:wght@699&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <div class="title-container">
        <p class="title">
        Sick Plants?<br>
        Let us<br>
        diagnose<br>
        them!
        </p>
        <div class="more-information">
          Classify upto 28 different plant diseases
        </div>
      </div>
      <div class="form-outer-container">
        <a href="{{ url_for('trial')}}"><button class="button-89" style="font-size: 30px;" role="button">Try Now</button></a>
      </div>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
      d3.select("body").transition()
      .style("background-color", "black");
    </script>
  </body>
</html>

